In [1]:
# http://pandas.pydata.org/pandas-docs/stable/index.html
# Name: Gabe Eapen
# UT EID: eapengp
# PS1 - Q1

import pandas as pd

In [2]:
df = pd.read_csv('cs52.csv')

In [3]:
print(df.columns)

Index([u'Name', u'University', u'JoinYear', u'Rank', u'Subfield', u'Bachelors',
       u'Masters', u'Doctorate', u'PostDoc', u'Sources1', u'Sources2',
       u'Sources3', u'Sources4'],
      dtype='object')

In [4]:
df.head(n=3)

,Name,University,JoinYear,Rank,Subfield,Bachelors,Masters,Doctorate,PostDoc,Sources1,Sources2,Sources3,Sources4
0,Chitta Baral,Arizona State University,1999,Full,Natural Language & Speech,Indian Institute of Technology - Kanpur - India,University of Maryland - College Park - USA,University of Maryland - College Park - USA,NaN,http://cidse.engineering.asu.edu/directory/chi...,NaN,NaN,NaN
1,Kasim Candan,Arizona State University,1997,Full,Databases,Bilkent University - Turkey,NaN,University of Maryland - College Park - USA,NaN,http://cidse.engineering.asu.edu/directory/can...,NaN,NaN,NaN
2,Charles Colbourn,Arizona State University,2001,Full,Networks & Communications,University of Toronto - Canada,University of Waterloo - Ontario - Canada,University of Toronto - Canada,NaN,http://cidse.engineering.asu.edu/directory/cha...,NaN,NaN,NaN

In [6]:
df[df.University.str.contains("University of California - Berkeley") & df.Doctorate.str.contains("University of California - Berkeley")].Name.count()

13

In [7]:
filtered_df = df[df.University.str.contains("University of California - Berkeley") & df.Doctorate.str.contains("University of California - Berkeley")]

In [14]:
print(filtered_df.Name.count())

13

In [15]:
len(filtered_df)

13